.hello {
  background-color: red;
}
.Back_button {
 /* background: linear-gradient(90deg, #ff7e5f, #feb47b); */
/* background: linear-gradient(90deg, #ff4ecd, #7661dd); */
/* background: linear-gradient(90deg, #00c6ff, #0072ff); */
background: linear-gradient(90deg, #fbd786, #f7797d);

  display: flex;
  margin-top: 10px;
  padding: 2px;
  border-radius: 9px;
  margin-left: 10px;
  width: 100px;
  align-items: center;
  cursor: pointer;
}
.Back_button:hover {
  background-color: rgb(116, 106, 116);
  color: aqua;
}
body {
  background-image: url("src/adi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
}
 /* body
 {
  background-color: rgb(120, 120, 237);
 } */
.INFOR {
  width: 700px;
  height: 370px;
  margin-left: 30px;
  margin-top: 50px;
  box-shadow: 0px 5px 20px 2px rgb(233, 81, 81);
  border-radius: 20px;
  background-color: khaki;
}
p {
  word-spacing: 10px;
  margin: 10px;
  color: red;
  margin-left: 20px;
}
h3 {
  word-spacing: 10px;
  font-family: bold;
}
.Bt {
  background-color: hotpink;
  margin-top: 10px;
  padding: 2px;
  border-radius: 9px;
  margin-left: 10px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  margin-right: 0%;
}
.Edit {
  display: flex;
  align-items:left;
}
.Input {
  margin-top: 20px;
  margin-left: 80px;
}
.process {
  margin-left: 390px;
  margin-top: 20px;
}
.AAA
{
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
  
}
.button 
{
  
  height: 55px;
  width: 152px;
  margin-left: 0px;
  
}
